## Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Data Sets

In [2]:
ords_prods_merged=pd.read_pickle(r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4\02 Data\Prepared Data\orders_products_merged2.pkl')

In [3]:
ords_prods_merged.shape

(32641268, 18)

## Task

In [4]:
#repeat this process for the entire dataframe
ords_prods_merged.groupby('product_name')

In [5]:
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

In [6]:
#Analyze the result

The result is relatively close in numbers. If the dataframe just has 1000000 entries, then the mean will be higher.

In [7]:
#Follow the instructions in the Exercise for creating a loyalty flag for existing customers
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

Regular customer    16381472
Loyal customer      10679578
New customer         5580218
Name: loyalty_flag, dtype: int64

In [12]:
#Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.377144  1.0  99999.0
New customer      13.208437  1.0  99999.0
Regular customer  12.616225  1.0  99999.0

Loyal customers tend to make purchases close to 10 dollars while newer customers venture out to purchase things for 13 dollars. The regulars tend to be in the middle.

In [13]:
ords_prods_merged.groupby('user_id').agg({'prices': ['mean', 'min', 'max']}).head(5)

           prices
             mean  min   max
user_id
1        6.367797  1.0  14.0
2        7.515897  1.3  14.8
3        8.197727  1.3  14.4
4        8.205556  1.4  14.6
5        9.189189  3.2  14.8

In [14]:
#team now wants to target different types of spenders in their marketing campaigns. 
#This can be achieved by looking at the prices of the items people are buying.
#If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
ords_prods_merged['spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
ords_prods_merged.loc[ords_prods_merged['spending'] < 10, 'spending_flag'] = 'Low Spender'

In [17]:
ords_prods_merged.loc[ords_prods_merged['spending'] >= 10, 'spending_flag'] = 'High Spender'

In [18]:
df_1 = ords_prods_merged[['user_id', 'spending_flag', 'spending']]

In [19]:
ords_prods_merged[['user_id', 'spending_flag', 'spending']].head(10)

   user_id spending_flag  spending
0        1   Low Spender  6.367797
1        1   Low Spender  6.367797
2        1   Low Spender  6.367797
3        1   Low Spender  6.367797
4        1   Low Spender  6.367797
5        1   Low Spender  6.367797
6        1   Low Spender  6.367797
7        1   Low Spender  6.367797
8        1   Low Spender  6.367797
9        1   Low Spender  6.367797

In [20]:
#determine frequent versus non-frequent customers
#If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [21]:
ords_prods_merged['frequency'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
ords_prods_merged.loc[ords_prods_merged['frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [23]:
ords_prods_merged.loc[(ords_prods_merged['frequency'] <= 20) & (ords_prods_merged['frequency'] > 10), 'frequency_flag'] = 'Regular customer'

In [24]:
ords_prods_merged.loc[ords_prods_merged['frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [25]:
ords_prods_merged[['user_id', 'frequency', 'frequency_flag']].head(10)

   user_id  frequency    frequency_flag
0        1       20.0  Regular customer
1        1       20.0  Regular customer
2        1       20.0  Regular customer
3        1       20.0  Regular customer
4        1       20.0  Regular customer
5        1       20.0  Regular customer
6        1       20.0  Regular customer
7        1       20.0  Regular customer
8        1       20.0  Regular customer
9        1       20.0  Regular customer

In [26]:
ords_prods_merged.to_pickle(r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4\02 Data\Prepared Data\orders_products_merged3.pkl')