## Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Data Sets

In [2]:
df_orders_products_combined = pd.read_pickle(r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4\02 Data\Prepared Data\orders_products_combined.pkl')

## Task

In [3]:
#Check the shape of the imported dataframe
df_orders_products_combined.shape

(32640698, 13)

In [4]:
#Determine a suitable way to combine the orders_products_combined dataframe with your products data set.
df_product = pd.read_csv(r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4\02 Data\Prepared Data\products_cleaned.csv', index_col = False)

In [5]:
df_product.shape

(49672, 6)

In [6]:
#remove unnecessary column
df_products = df_product.drop(columns = ['Unnamed: 0',])

In [7]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge','Unnamed: 0'])

In [9]:
orders_products_merged = df_orders_products_combined_1.merge(df_products, on = ['product_id'], how = 'left',indicator = True)

In [10]:
orders_products_merged.head()

,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77.0,7.0,9.0,both
1,0,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,0,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,Original Beef Jerky,23.0,19.0,4.4,both
3,0,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,0,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [12]:
orders_products_merged = orders_products_merged.drop(columns = ['Unnamed: 0.1',])

In [13]:
#Confirm the results of the merge using the merge flag.
orders_products_merged['_merge'].value_counts()

both          32404859
left_only       236409
right_only           0
Name: _merge, dtype: int64

In [14]:
orders_products_merged.to_pickle(r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4\02 Data\Prepared Data\orders_products_merged.pkl')