## Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## Importing Data Sets

In [2]:
path=r'C:\Users\sasze\Documents\Careerfoundry Data Analytics\Achievement 4'

In [3]:
df_cust = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
df_cust.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [5]:
df_cust.shape

(206209, 10)

In [6]:
df_cust.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

## Data Wrangling

In [7]:
#Rename columns
df_cust = df_cust.rename(columns = {'First Name':'first_name', 'Surnam':'surname', 'Gender':'gender', 'STATE':'state', 'Age':'age'})

In [8]:
df_cust.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [9]:
#Check Missing Values
df_cust.isnull().sum()

user_id             0
first_name      11259
surname             0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

The only missing values is in first_name. We will drop this column as it will not be important for the data. This is an assumption.

In [10]:
df_cust = df_cust.drop('first_name', 1)

In [11]:
#Check for duplicates
df_dup = df_cust[df_cust.duplicated()]

In [12]:
df_dup

Empty DataFrame
Columns: [user_id, surname, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

No duplicates.

In [13]:
#Check for mixed values
for col in df_cust.columns.tolist():
    weird = (df_cust[[col]].applymap(type) != df_cust[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_cust[weird]) > 0:
        print (col)

In [ ]:
df_cust.shape

No mixed data types.

## Import prepared Data and Merge

In [14]:
df_prod = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged3.pkl'))

In [15]:
df_prod.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,spending,spending_flag,frequency,frequency_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,both,Regularly busy,Regularly busy,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
1,2539329,1,1,2,8,NaN,True,14084.0,2.0,0.0,...,both,Regularly busy,Regularly busy,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
2,2539329,1,1,2,8,NaN,True,12427.0,3.0,0.0,...,both,Regularly busy,Regularly busy,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
3,2539329,1,1,2,8,NaN,True,26088.0,4.0,0.0,...,both,Regularly busy,Regularly busy,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer
4,2539329,1,1,2,8,NaN,True,26405.0,5.0,0.0,...,both,Regularly busy,Regularly busy,Average orders,11,Regular customer,6.367797,Low Spender,20.0,Regular customer

Trying to merge on user_id.

In [16]:
df_prod = df_prod.drop('_merge', 1)

Received a memory error.

In [17]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   surname       206209 non-null  object
 2   gender        206209 non-null  object
 3   state         206209 non-null  object
 4   age           206209 non-null  int64
 5   date_joined   206209 non-null  object
 6   n_dependants  206209 non-null  int64
 7   fam_status    206209 non-null  object
 8   income        206209 non-null  int64
dtypes: int64(4), object(5)
memory usage: 14.2+ MB

In [18]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32641268 entries, 0 to 32641267
Data columns (total 23 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   first_order             bool
 7   product_id              float64
 8   add_to_cart_order       float64
 9   reordered               float64
 10  product_name            object
 11  aisle_id                float64
 12  department_id           float64
 13  prices                  float64
 14  busiest day             object
 15  busiest days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  spending                float64
 20  spending_flag           object
 21  frequency               float64
 22  frequency_flag          object
dtypes: bool(1), float64(9), int64(6), object(7)
memory usage: 5.6+ GB

Adjust column dtypes to fic memory.

In [19]:
df_prod['frequency'].max()

30.0

In [20]:
df_prod['frequency'] = df_prod['frequency'].astype('uint16')

In [21]:
df_prod['spending_flag'] = df_prod['spending_flag'].astype('category')

In [22]:
df_prod['spending'].max()

25005.425

In [23]:
df_prod['spending'] = df_prod['spending'].astype('float16')

In [24]:
df_prod['max_order'].max()

100

In [25]:
df_prod['max_order'] = df_prod['max_order'].astype('int16')

In [26]:
df_prod[['busiest_period_of_day', 'busiest days']] = df_prod[['busiest_period_of_day', 'busiest days']].astype('category')

In [27]:
df_prod['busiest day'] = df_prod['busiest day'].astype('category')

In [28]:
df_prod['aisle_id'].max()

134.0

In [29]:
#Kept getting NA values, filling them out
df = pd.DataFrame(data=df_prod, columns=['aisle_id', 'reordered'])

In [30]:
df = df.fillna(0).astype(int)

In [31]:
#Had to drop column due to errors persisting
df_prod = df_prod.drop('aisle_id', 1)

In [32]:
df_prod['product_name'] = df_prod['product_name'].astype('category')

In [33]:
df_prod['reordered'].max()

1.0

In [34]:
df_prod = df_prod.drop('reordered', 1)

In [35]:
df_prod['add_to_cart_order'].max()

145.0

In [36]:
df_cart = pd.DataFrame(data=df_prod, columns=['add_to_cart_order'])

In [37]:
df_cart=df_cart.fillna(0).astype(int)

In [38]:
df_cart.add_to_cart_order.astype(int)

0           1
1           2
2           3
3           4
4           5
           ..
32641263    6
32641264    7
32641265    8
32641266    9
32641267    0
Name: add_to_cart_order, Length: 32641268, dtype: int32

In [39]:
df_prod['add_to_cart_order'] = df_prod['add_to_cart_order'].astype('int16')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
#Tried to solve NA error as same as above, but the value error kept coming, will be dropping columns
df_prod = df_prod.drop('add_to_cart_order', 1)

In [ ]:
df_prod.info()

In [ ]:
df_merge = df_prod.merge(df_cust, on = 'user_id', indicator = True)

In [ ]:
df_merge.head()

In [ ]:
df_merge['_merge'].value_counts(dropna = False)

Merge was successful.

In [ ]:
df_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_cust.pkl'))